*{
    box-sizing: border-box;
}

body{

    background-image: linear-gradient(0deg, rgb(71, 71, 71) 23.8%, rgb(221,224,252) 92%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    font-family: "Lato", sans-serif;
}

.music-container{

    background: #fff;
    border-radius: 15px;
    box-shadow: 0 20px 20px 0 rgba(221,224,252,0.6);
    display: flex;
    padding: 20px 30px;
    position: relative;
    margin: 100px 0;
    z-index: 10;
}

.img-container{

    position: relative;
    width: 110px;
}

.img-container::after{

    content: '';
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, 50%);
    

}

.img-container img{

    border-radius: 50%;
    object-fit: cover;
    height: 110px;
    width: 110px;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: rotate 3s linear infinite;

    animation-play-state: paused;
}

.music-container.play .img-container img{

    animation-play-state: running;
}

@keyframes rotate {

    from{

        transform: rotate(0deg);
    }
    to{

        transform: rotate(360deg);
    }
}

.navigation{

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.action-btn{

    background: #fff;
    border: 0;
    color: #dfdbdf;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0 20px;
}
.action-btn-big{

    color: #cdc2d0;
    font-size: 30px;
}

.action-btn:focus{

    outline: 0;
}

.music-info{

    background-color: rgba(255,255,255,0.5);
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    padding: 10px 10px 10px 150px;
    transform: translateY(0%);
    opacity: 0;
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    z-index: 0;
}

.music-container.play .music-info{

    opacity: 1;
    transform: translateY(-100%);
}

.music-info h4{
    margin: 0;
}

